.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

hr{
  border-style: none;
  border-bottom: dotted;
  width: 20%;
  border-width: 7px;
  border-color: paleturquoise;
}

.boxing {
  background-color: #E7E9EB;
  padding: 16px;
  font-size: 120%;
  font-family: Consolas,Menlo,"Courier New", Courier, monospace;
  overflow: auto;
}

.center1 {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  background-color: #E7E9EB;
}

.c1
{
  background-color:paleturquoise;
  padding: 16px;
  font-size:20px
}

.c2
{
  margin-left: auto;
  margin-right: auto;
  width:5%;
  background-color: #E7E9EB;
  font-size: 40px;
}
